@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color */
    --primary-color: #FED001;
    --dark: #2a2a2a;
    --clear: #fafafa;
    --blueDark: #003464;
    --lightGray: #ccc;
}

html {
    /* font-size: 62.5%; Equivale a 1 rem que equivale a 10 px
font-family: 'Inter', sans-serif;
font-weight: 400; */
    font: 400 62.5% 'Inter', sans-serif;
    /*Atalho*/
}


h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.2rem;
}

p, li,
a {
    font-size: 1.6rem;
}

nav a {
    color: inherit;
}


body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*MENU MOBILE*/
.div-header .menu-mobile .nav-mobile .logo-menu-mobile {
    width: 100px;
    position: relative;
    right: 150px;
    margin-top: -50px;
}

.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu ion-icon {
    color: var(--dark);
    font-size: 30px;
}

.btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar ion-icon {
    color: var(--dark);
    font-size: 30px;
}

.menu-mobile {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0%;
    text-align: right;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 100%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav.nav-mobile ul {
    text-align: left;
    list-style: none
}

.menu-mobile nav.nav-mobile ul li a {
    text-decoration: none;
    color: var(--dark);
    font-family: var(--manrope);
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav.nav-mobile ul li a:hover {
    background-color: var(--cor-1);
    color: var(--cor-7);
}

.overlay-menu {
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}
/* FIM MENU MOBILE*/


/*HEADER*/
header {
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--dark);
    position: sticky;
    top: 0;
    z-index: 10;
}

.div-header {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 30px;
}

header a img {
    width: 220px;
}

header .ul_menu li {
    list-style: none;
}

header .ul_menu li a {
    text-decoration: none;
    font-family: var(--manrope);
    font-size: 15px;
    color: var(--dark);
    font-weight: 600;
}

header nav.nav-bar .ul_menu li a:hover {
    color: var(--clear);
}

header nav.nav-bar .ul_menu {
    display: flex;
    gap: 50px;
}

header .menu-redes-sociais ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header .menu-redes-sociais .instagram-icone {
    color: var(--dark);
    background-color: var(--cor-5);
    font-size: 25px;
}

header .menu-redes-sociais .facebook-icone {
    color: var(--dark);
    background-color: var(--cor-5);
    font-size: 25px;
}

header a .button-menu {
    background-color: var(--primary-color);
    color: var(--dark);
    border: solid 1px var(--dark);
    border-radius: 25px;
    padding: 10px 20PX;
    font-family: var(--manrope);
    font-size: 16PX;
    font-weight: 700;
    transition: .3S;
    cursor: pointer;
    margin: 0 0 2px 25px;
}

header a .button-menu:hover {
    background-color: var(--dark);
    color: var(--primary-color);
    border: var(--dark);
}
/*FIM HEADER*/




/* POLITICA DE PRIVACIDADE */
.container {
    padding-top: 180px;
    padding-bottom: 100px;
}

.div_conteudo {
    width: 60%;
    margin: auto;
}
/* FIM POLITICA DE PRIVACIDADE */


/* BOTAO RETORNO AO TOPO */
html {
    scroll-behavior: smooth;
}

.botao_retorno_topo {
    display: flex;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border: solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    right: 50px;
    bottom: 130px;
    transition: all ease 400ms;
}

.botao_retorno_topo:hover {
    background-color: var(--dark);
    color: var(--clear);
}
/* FIM BOTAO RETORNO AO TOPO */


/* WHATSAPP */
.whatsapp_link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}
/* FIM WHATSAPP */


/* FOOTER */
.div_footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--clear);
    padding: 20px;
}

.footer a {
    color: var(--clear);
}
/* FIM FOOTER */



/* RESPONSIVO */

/*HEADER*/
@media (max-width: 768px) {

    .btn-abrir-menu {
        display: block;
    }

    .div-header {
        width: 250px;
    }

    .nav-bar {
        display: none;
    }

    .menu-redes-sociais {
        display: none;
    }

    .button-menu {
        display: none;
    }

    .div-header a img {
        width: 150%;
        right: 10px;
        top: -35px;
    }

    h1 {
        font-size: 35px;
        line-height: 1.2;
    }

    h2 {
        font-size: 27px;
        line-height: 1.2;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .div_conteudo {
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 950px) {

    .div-header {
        justify-content: left;
        gap: 50px;
    }

    .menu-redes-sociais,
    .button-menu {
        display: none;
    }
}

@media (max-width: 1110px) {

    .menu-redes-sociais,
    .button-menu {
        display: none;
    }
}
/*FIM HEADER*/





