@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
:root {
/* color */
--primary-color: #FED001;
--dark: #2a2a2a;
--clear: #fafafa;
--blueDark: #003464;
--lightGray: #ccc;
}

html {
/* font-size: 62.5%; Equivale a 1 rem que equivale a 10 px
font-family: 'Inter', sans-serif;
font-weight: 400; */
font: 400 62.5% 'Inter', sans-serif; /*Atalho*/
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    color: inherit;
}


body{
    font-family: "Manrope", sans-serif;
}

/* header */

.header_menu {
    background-color: var(--primary-color);
    padding: 2em;
    border-bottom: 2px solid white;
}

.menu_logo {
    /* width: 350px; */
    /* height: 80px;
    margin-bottom: -15px; */
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 127.6rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    max-width: 80%;
}

.logo {
    width: 250px;
    height:70px;
}

.span_logo {
    text-transform: uppercase;
}

.nav_menu ul a {
    text-decoration: none;
    /* color: var(--dark); */
    color: var(--clear);
    font-weight: 700;
}

.nav_menu ul a:hover {
    color: var(--dark);
    font-weight: 900;
}

.li_menu {
    list-style: none;
    padding: 10px;
}

.nav_menu ul {
    display: flex;
    gap: 20px;
}

.nav_menu .li_menu .link_mnu:hover {
    color: var();
}


/* hero_baner */

.hero_baner{
    height: 75vh;
    padding: 20px 20px;
    background: url(../img/Sem\ nome\ \(Website\)\ \(5\).png);
    background-size: cover;
    background-position: center center;
}

/* Qualidades */

.qualidades {
    /* height: 600px; */
    text-align: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 70px;
}

.section_title {
    text-transform: uppercase;
    font-weight: 1,900;
    padding-top: 50px;
    padding-bottom: 70px;
}

.qualidades_cantainer {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: center;
    gap: 30px;
}

.article_card {
    /* display: flex; */
    background-color: var(--primary-color);
    width:230px;
    height: 300px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.article_card:hover {
    transition: .4s ease-out;
    background-color: var(--clear);
    border:2px solid var(--primary-color);
}

.ion-icon {
    font-size: 100px;
}

.qualidades .section_diferenciais 
.qualidades_cantainer 
.article_card 
.icone_experiencia {
    width: 100px;
}

.icone_bhtrans, .icone_aperto_de_mao {
    width: 120px;
}


/*Empresa*/


.empresa_fundo {
    background-color: var(--primary-color);
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 50px;
}

/* .container_empresa {
    max-width: 127.6rem;
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    margin: auto;
} */

.container_empresa {
    max-width: 127.6rem;
    /* padding: 0 40px; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: var(--black);
    font-weight: 600;
    margin: auto;
}

.empresa_content {
    padding: 40px;
}


/* Colegios */

.div_colegios {
    background-color: var(--primary-color);
    padding: 0 50px;
    padding-bottom: 50px;
}

.container_colegios {
    max-width: 127.6rem;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    font-weight: 600;
}

.colegios_content {
    display: flex;
    gap: 40px;
}

.ul_colegios li {
    font-size: 16px;
}

.imagem_colegios {
    width: 583px;
    height: 450px;
}


/*Mapa*/

.div_mapa {
    background-color: var(--clear);
    padding: 70px 0;
    text-align: center;
}

.contatos_address {
    font-size: 16px;
    padding: 50px;
    color: var(--black);
    font-weight: 600;
}


/*Formulário*/

.form_container {
    background-color: var(--primary-color);
    text-align: center;
    padding: 80px;
}

input {
background-color: var(--primary-color);
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.contactForm {
    width: 100%;
    color: var(--black);
    font-weight: 600;
}

.form-container {
    /* background-color: #fff; */
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 50%; */
}

h2 {
    margin-bottom: 60px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    /* width: 100%; */
    font-size: 1.6rem;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: black;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 1.6rem;
    display: none;
}

button {
    background-color: var(--primary-color);
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    /* width: 100%; */
    width: 520px;
}

button:hover {
    background-color: var(--clear);
}


/* whatsapp */

.whatsapp_link {
 position: fixed;
 width: 60px;
 height: 60px;
 bottom: 40px;
 right: 40px;
 background-color: #25d366;
 color: white;
 border-radius: 50px;
 text-align: center;
 font-size: 30px;
 box-shadow: 1px 1px 2px #888;
 z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

/* footer */

.div_footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--clear);
    padding: 20px;
}

.footer a {
    color: var(--clear);
}


/*Tablet*/

@media screen and (max-width: 1190px){
    /*Menu*/
    .nav_menu{
        display: none;
    }

    /* hero_baner */
    .hero_baner {
        /* background-position: center left; */
        height: 26vh;
        padding: 0px 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    /*Qualidades*/
    
    .qualidades {
        margin-bottom: 12px;
    }
    
    .section_title {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    .qualidades_cantainer {
        flex-direction: column;
        /* padding-bottom: -10px; */
    }

    .article_card {
        flex-direction: column;
    }

    /*Empresa*/
    .container_empresa {
        flex-direction: column;
        padding: 10px;
        margin-bottom: -60px;
    }

    .empresa_title {
        margin-top: -20px;
        margin-bottom: -3px;
    }

    .imagem_empresa {
        width: 100%;
    }

    /*Colegios*/
    .container_colegios {
        flex-direction: column;
    }

    .colegios_content {
        flex-direction: none;
        gap: 0;
        margin-bottom: 20px;
    }

    .imagem_colegios {
        width: 168%;
    }

    /* Mapa */

    .div_mapa {
        padding-bottom: 0px;
    }

    /*Form*/

    h2 {
        margin-top: -50px;
    }

    button {
        width: 109%;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}