:root {
    /* color */
    --primary-color: #FED001;
    --dark: #2a2a2a;
    --clear: #fafafa;
    --blueDark: #003464;
    --lightGray: #ccc;
}

html {
    /* font-size: 62.5%; Equivale a 1 rem que equivale a 10 px
font-family: 'Inter', sans-serif;
font-weight: 400; */
    font: 400 62.5% 'Inter', sans-serif;
    /*Atalho*/
}

p,
a {
    font-size: 1.6rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.2rem;
}

nav a {
    color: inherit;
}


body {
    font-family: "Manrope", sans-serif;
}

/*MENU MOBILE*/
.div-header .menu-mobile .nav-mobile .logo-menu-mobile {
    width: 180px;
    position: relative;
    right: 150px;
    margin-top: -50px;
}

.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu ion-icon {
    color: var(--dark);
    font-size: 30px;
}

.btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar ion-icon {
    color: var(--dark);
    font-size: 30px;
}

.menu-mobile {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 0%;
    text-align: right;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 100%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav.nav-mobile ul {
    text-align: left;
    list-style: none
}

.menu-mobile nav.nav-mobile ul li a {
    text-decoration: none;
    color: var(--dark);
    font-family: var(--manrope);
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav.nav-mobile ul li a:hover {
    background-color: var(--cor-1);
    color: var(--cor-7);
}

.overlay-menu {
    background-color: #000000a6;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

/* FIM MENU MOBILE*/


/*HEADER*/
header {
    background-color: var(--primary-color);
    border-bottom: solid 1px var(--dark);
    position: sticky;
    top: 0;
    z-index: 10;
}

.div-header {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 30px;
}

header a img {
    width: 220px;
}

header .ul_menu li {
    list-style: none;
}

header .ul_menu li a {
    text-decoration: none;
    font-family: var(--manrope);
    font-size: 15px;
    color: var(--dark);
    font-weight: 600;
}

header nav.nav-bar .ul_menu li a:hover {
    color: var(--clear);
}

header nav.nav-bar .ul_menu {
    display: flex;
    gap: 50px;
}

header .menu-redes-sociais ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header .menu-redes-sociais .instagram-icone {
    color: var(--dark);
    background-color: var(--cor-5);
    font-size: 25px;
}

header .menu-redes-sociais .facebook-icone {
    color: var(--dark);
    background-color: var(--cor-5);
    font-size: 25px;
}

header a .button-menu {
    background-color: var(--primary-color);
    color: var(--dark);
    border: solid 1px var(--dark);
    border-radius: 25px;
    padding: 10px 20PX;
    font-family: var(--manrope);
    font-size: 16PX;
    font-weight: 700;
    transition: .3S;
    cursor: pointer;
    margin: 0 0 2px 25px;
}

header a .button-menu:hover {
    background-color: var(--dark);
    color: var(--primary-color);
    border: var(--dark);
}

/*FIM HEADER*/


/* HERO BANNER */
.hero_baner {
    height: 95vh;
    padding: 20px 20px;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
}

/* FIM HERO BANNER */


/* QUALIDADES */
.qualidades {
    text-align: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 70px;
}

.qualidades .section_diferenciais h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 70px;
}

.qualidades_cantainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.article_card {
    background-color: var(--primary-color);
    width: 230px;
    height: 300px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.article_card:hover {
    transition: .4s ease-out;
    background-color: var(--clear);
    border: 2px solid var(--primary-color);
}

.ion-icon {
    font-size: 100px;
}

.qualidades .section_diferenciais .qualidades_cantainer .article_card .icone_experiencia {
    width: 100px;
}

.icone_bhtrans,
.icone_aperto_de_mao {
    width: 120px;
}

/* FIM QUALIDADES */


/* EMPRESA */
.empresa_fundo {
    background-color: var(--primary-color);
    padding-top: 100px;
}

.container_empresa {
    max-width: 120rem;
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    margin: auto;
    background-color: var(--clear);
}

.empresa_content {
    padding: 10px 40px;
    width: 50%;
}

.empresa_content h2 {
    margin-bottom: 30px;
}

.empresa_content .empresa_p {
    line-height: 1.6;
}

.imagem_empresa {
    width: 50%;
    height: auto;
}

/* FIM EMPRESA */


/* COLÉGIOS */
.div_colegios {
    background-color: var(--primary-color);
    padding: 0 50px 0 50px;
}

.container_colegios {
    max-width: 120rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    font-weight: 600;
    background-color: var(--clear);
}

.colegios_content {
    display: flex;
    gap: 40px;
    width: 640px;
    justify-content: center;
}

.ul_colegios {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul_colegios li {
    font-size: 16px;
    line-height: 1.6;
}

.imagem_colegios {
    width: 50%;
    height: auto;
}

/* FIM COLÉGIOS */



/* BHTRANS */
.div_bhtrans {
    background-color: var(--primary-color);
}

.container_bhtrans {
    max-width: 120rem;
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    margin: auto;
    background-color: var(--clear);
}

.bhtrans_content {
    padding: 10px 40px;
    width: 50%;
    /* Ocupa a outra metade */
}

.bhtrans_content h2 {
    margin-bottom: 30px;
}

.bhtrans_content .bhtrans_p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.imagem_bhtrans {
    width: 50%;
    /* Ocupa metade da largura do container */
    height: auto;
}

/* FIM BHTRANS */


/* VAN */
.div_van {
    background-color: var(--primary-color);
    padding-bottom: 100px;
}

.container_van {
    /* max-width: 127.6rem; */
    max-width: 120rem;
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    margin: auto;
    background-color: var(--clear);
}

.van_content {
    padding: 10px 40px;
    width: 50%;
    /* Ocupa a outra metade */
}

.van_content h2 {
    margin-bottom: 30px;
}

.van_content .van_p {
    line-height: 1.6;
}

.imagem_van {
    width: 50%;
    /* Ocupa metade da largura do container */
    height: auto;
}

/* FIM VAN */



/* MAPA */
.div_mapa {
    background-color: var(--clear);
    /* padding: 0 0 70px 0; */
    text-align: center;
}


.contatos_address {
    font-size: 16px;
    padding: 120px;
    color: var(--clear);
    font-weight: 600;
    background-image: url(../img/onibus.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    /* Necessário para posicionar o overlay */
    overflow: hidden;
    /* Para garantir que o overlay não extrapole */
}

/* Overlay */
.contatos_address::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.848);
    /* Cor do overlay com transparência */
    /*z-index: 1; Posiciona o overlay acima da imagem */
}

/* Conteúdo do address */
.contatos_address * {
    position: relative;
    z-index: 1;
    /* Garante que o texto apareça acima do overlay */
}


/* FIM MAPA */



/* FORM */
.form_container {
    /* background-color: var(--primary-color); */
    text-align: center;
    padding: 80px;
}

.form_container {
    background-color: var(--primary-color);
    font-family: var(--manrope);
    position: relative;
    /* height: 1750px; */
    /* max-width: 800px; */
    overflow: hidden;
}

.form_container::before {
    content: "";
    background-image: url('../img/Imag069.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.04;
    z-index: 1;
}


input {
    background-color: var(--primary-color);
}

.contactForm {
    width: 100%;
    color: var(--black);
    font-weight: 600;
}

.form-container {
    /* background-color: #fff; */
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 50%; */
}

h2 {
    margin-bottom: 60px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    font-size: 1.6rem;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: black;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 1.6rem;
    display: none;
}

.button_form {
    background-color: var(--primary-color);
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    width: 520px;
}

.button_form:hover {
    background-color: var(--clear);
}

textarea::placeholder,
input::placeholder {
    color: var(--dark);
}

/* FIM FORM */


/* BOTÃO RETORNO AO TOPO */
html {
    scroll-behavior: smooth;
}

.botao_retorno_topo {
    display: flex;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--clear);
    border: solid 1px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    right: 50px;
    bottom: 130px;
    transition: all ease 400ms;
}

.botao_retorno_topo:hover {
    background-color: var(--dark);
    color: var(--clear);
}

/* FIM BOTÃO RETORNO AO TOPO */



/* WHATSAPP */
.whatsapp_link {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 10px;
}

/* FIM WHATSAPP */



/* FOOTER */
.div_footer {
    text-align: center;
    background-color: var(--dark);
    color: var(--clear);
    padding: 20px;
}

.footer a {
    color: var(--clear);
}

/* FIM FOOTER */


/* POLÍTICA DE PRIVACIDADE */
.popup-lgpd {
    font-family: var(--manrope);
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    border: solid 1px var(--dark);
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background-color: var(--clear);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
    animation: fadeIn 0.5s ease;
}

.popup-content {
    text-align: center;
}

.popup-content .lgpd {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--cor-1);
}

.popup-content p {
    font-size: 1.2em;
    color: var(--dark);
    margin-bottom: 20px;
}

.popup-content a {
    color: var(--dark);
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}

.popup-content button {
    background-color: var(--primary-color);
    color: var(--dark);
    padding: 10px 20px;
    border: solid 1px var(--dark);
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    margin: 5px;
}

.popup-content button:hover {
    background-color: var(--dark);
    color: var(--primary-color);
}

/* FIM POLÍTICA DE PRIVACIDADE */



/*HEADER*/
@media (max-width: 768px) {

    .btn-abrir-menu {
        display: block;
    }

    .div-header {
        width: 250px;
    }

    .nav-bar {
        display: none;
    }

    .menu-redes-sociais {
        display: none;
    }

    .button-menu {
        display: none;
    }

    .div-header a img {
        width: 150%;
        right: 10px;
        top: -35px;
    }

}

@media (max-width: 950px) {

    .div-header {
        justify-content: left;
        gap: 50px;
    }

    .menu-redes-sociais,
    .button-menu {
        display: none;
    }
}

@media (max-width: 1110px) {

    .menu-redes-sociais,
    .button-menu {
        display: none;
    }
}

/*FIM HEADER*/


/*HERO BANNER*/
@media (max-width: 768px) {
    .hero_baner {
        height: 70vh;
        background-size: cover;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .hero_baner {
        height: 25vh;
        background-size: cover;
        padding: 10px;
    }
}

/*HERO BANNER*/

@media screen and (max-width: 1317px) {

    .hero_baner {
        background-position: left center;
        height: 70vh;
    }

    .button-menu {
        display: none;
    }

    .container_colegios {
        max-width: 130.6rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--black);
        font-weight: 600;
        background-color: var(--primary-color);
    }

    .container_empresa {
        max-width: 120rem;
        display: flex;
        align-items: center;
        color: var(--black);
        font-weight: 600;
        margin: auto;
        background-color: var(--primary-color);
    }

    .container_bhtrans {
        max-width: 120rem;
        display: flex;
        align-items: center;
        color: var(--black);
        font-weight: 600;
        margin: auto;
        background-color: var(--primary-color);
    }

    .container_van {
        max-width: 120rem;
        display: flex;
        align-items: center;
        color: var(--black);
        font-weight: 600;
        margin: auto;
        background-color: var(--primary-color);
    }
}

@media screen and (max-width: 1255px) {
    .button-menu {
        display: none;
    }
}

@media screen and (max-width: 1190px) {

    /*QUALIDADES*/

    .qualidades {
        margin-bottom: 12px;
    }

    .qualidades_cantainer {
        flex-direction: column;
    }

    .qualidades .section_diferenciais h2 {
        padding-bottom: 0px;
    }

    .article_card {
        flex-direction: column;
    }

    /*Empresa*/
    .container_empresa {
        flex-direction: column;
        padding: 0px;
        margin-bottom: -60px;
        /* height: 850px; */
    }

    .empresa_content {
        height: 400px;
        padding-top: 70px;
        width: 80%;
    }

    .empresa_title {
        margin-top: -20px;
        margin-bottom: -3px;
    }

    .imagem_empresa {
        width: 80%;
    }

    /*Colegios*/
    .container_colegios {
        flex-direction: column;
        padding-top: 60px;
    }

    .colegios_content {
        flex-direction: none;
        gap: 20;
        margin-bottom: 20px;
        width: 100%;
        height: 250px;
    }

    .imagem_colegios {
        width: 100%;
    }

    /*Bh trans*/
    .container_bhtrans {
        flex-direction: column-reverse;
        padding: 0px;
        margin-bottom: -60px;
    }

    .bhtrans_content {
        height: 400px;
        padding-top: 70px;
        width: 80%;
    }

    .bhtrans_title {
        margin-top: -20px;
        margin-bottom: -3px;
    }

    .imagem_bhtrans {
        padding-top: 40px;
        width: 80%;
    }

    /*van*/
    .div_van {
        padding-top: 100px;
    }

    .container_van {
        flex-direction: column-reverse;
        padding: 0px;
        margin-bottom: -60px;
    }

    .van_content {
        height: 300px;
        padding-top: 70px;
        width: 80%;
    }

    .van_title {
        margin-top: -20px;
        margin-bottom: -3px;
    }

    .imagem_van {
        padding-top: 40px;
        width: 80%;
    }

    /* Mapa */
    .div_mapa {
        padding-bottom: 0px;
    }

    /*Form*/
    .form_h2 {
        margin-top: -50px;
    }

    .button_form {
        width: 109%;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        width: 100%;
    }

    /* politica de privacidade */
    .cookies_msg {
        width: 90%;
    }

}

@media screen and (max-width: 650px) {

    .hero_baner {
        background-position: left center;
        height: 40vh;
    }

    .qualidades .section_diferenciais h2 {
        font-size: 30PX;
        padding-top: 50px;
        padding-bottom: 1px;
    }

    .article_card {
        margin-top: -20px;
    }

    .colegios_content {
        height: 350px;
    }

    .empresa_content {
        height: 500px;
        padding-top: 70px;
    }

    .contatos_address {
        font-size: 16px;
        padding: 20px;
    }

    .contatos_address h2 {
        font-size: 30px;
        /* padding: 10px; */
    }
    

    .botao_retorno_topo {
        right: 50px;
    }

    .whatsapp_link {
        right: 45px;
    }

}

/* POLÍTICA DE PRIVACIDADE */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .popup-lgpd {
        width: 100%;
        bottom: 200px;
        border-radius: 0;
    }
}

/* FIM POLÍTICA DE PRIVACIDADE */